body {
	background-color: #FFFFFF;
	width: 100%;
}

.wrapper {
	min-height: 934px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 100px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 400;
	color: #16133D;
}

.container {
	max-width: 1440px;
	padding: 0 135px;
	margin: 0 auto;
}

.block__logo {
	display: flex;
	justify-content: flex-start;
	gap: 12px;
}


h1 {
	font-family: 'Nunito Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 52px;
	letter-spacing: 0.2px;
	color: #16133D;
	padding-bottom: 40px;
}

h2 {
	font-size: 24px;
	line-height: 21px;
	letter-spacing: 0.2px;
}

p {
	font-size: 16px;
	line-height: 21px;
	color: #7690A8;
}

/* -----------header----------- */

.line {
	width: 100%;
	height: 0px;
	border: 1px solid #EFEEF3;
}

.header-logo {
	padding: 22.5px 0;
}

.name-logo {
	font-family: 'Quicksand', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 35px;
	color: #16133D;
}

/* -----------main------------- */

.main__container {
	min-height: 461px;
}

.our-services {
	padding-bottom: 15px;
}
.block-cards {
	display: flex;
	justify-content: flex-start;
	gap: 30px;
}

.block-cards__item {
	max-width: 370px;
	min-height: 340px;
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
	border: 1px solid #E5EAF4;
	border-radius: 8px;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: fit-content;
	gap: 15px;
}

.icon {
	position: relative;
}

.icon-green {
	opacity: 0;
	position: absolute;
	width: 40px;
	height: 36px;
	z-index: 2;
	background-color:#FFFFFF;
	margin: 14px 12px;
}

.icon-green:hover {
	opacity: 1;
}

.text {
	font-size: 16px;
	line-height: 28px;
	color: #16133D;
}

.learn-more {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #3DB370;
}

/* -----------footer---------- */

footer {
	background-color: #16133D;
}

.footer__container {
	padding: 40px 135px;
}

.footer-logo .name-logo  {
	color: #FFFFFF;
	margin-bottom: 40px;
}

.block-icons {
	max-width: 230px;
	display: flex;
	justify-content: flex-start;
	gap: 10px;
}

.socials svg:hover,
.green:hover {
  fill: #3DB370;	
	transition: 0.5s;
}
